.container-fluid{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.ok{
    height: 100%;
}

.row{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.col-sm-12 {
    margin:0%;
    padding: 0%;
}

.pozadina{
    background-image: url(/assets/poz3.jpg);
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size:cover;
    width: 100%;
    height: 100%;
}

.btn {
    font-family: "Unna", serif;
    width: 100%;
    background: goldenrod;
    border: 0;
    border-radius: 2px;
    color: black;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: background .3s;
}

.btn:hover {
    background: #FF8C00;
	transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.4);
    transform: translateY(-4px);
}

.btn:focus {
    outline: none;
}

.btn:active{
    box-shadow: 0 5px 10px rgba(17, 17, 17, 0.938);
    transform: translateY(4px);
}

a{
    color: goldenrod;
}

a:hover {
    color: darkorange;
    transform: translateY(-1px);
}

.toolbar {
    background-color: black;
    opacity: .8;
}

.toolbar img {
    width: 4%;
}

.sp {
    margin-left: 15px;
    color: lightgoldenrodyellow;
    font-family: "Unna", serif;
    font-size: 27px;
}

.team-section {
    padding-top: 5%;
    margin: 0;
    background-color: rgb(0,0,0,0.1);
}

.single-item {
    min-width: fit-content;
    background: rgba(0,0,0,0.8);
    margin-top: 11%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.single-item3 {
    padding-top: 2%;
    min-width: fit-content;
    background: rgba(0,0,0,0.8);
    margin-top: 5%;
    margin-bottom: 10px;
    border-radius: 8px;
}

.single-item1 {
    min-width: fit-content;
    background: rgba(0,0,0,0.8);
    margin-bottom: 10px;
    border-radius: 8px;
    color: lightgoldenrodyellow;
}

.single-item2 {
    min-width: fit-content;
    background: rgba(0,0,0,0.8);
    margin-top: 2%;
    margin-bottom: 10px;
    border-radius: 8px;
    color: lightgoldenrodyellow;
}

.slikaNekr{
    padding: 0%;
}

.divNekr {
    height: 100%;
    width: 100%;
}

.nekrImg{
    border-radius: 8px;
    height: 100%;
    width: 100%;
}

.nekrImg:hover{
    transform: scale(1.01);
}

.zaglavlje {
    margin-top: 12px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-size: 25px;
    padding-left: 0;
    font-family: "Unna", serif;	
    text-align: center;
    color: goldenrod;
    text-align: left;
    margin-left: 5px;
}

.zaglavlje a:hover{
    color: darkorange;
}

.meta{
    display: flex;
    justify-content: left;
    margin-top: 3px;
    margin-bottom: 0px;
    margin-left:10px;
    margin-right: 5px;
    color:lightgoldenrodyellow;
    font-size: 16px;
    font-family: "Unna", serif;
}

.cosak{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 0;
    padding: 0;
}

.cena{
    display: flex;
    justify-content: center;
    min-height: 30px;
    max-height: 30px;
    width: 70%;
    font-size: 18px;
    margin-top: 15%;
    margin-right: 0;
    background-color: goldenrod;
}

.prijava{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    padding: auto;
}

.form-container {
    width: 20%;
    margin-top: 5%;
    min-width: fit-content;
    opacity: .8;
}

.form-content {
    background-color: black;
    padding: 25px 25px;
	border-radius: 8px;
}

.login-form-header {
    text-align: center;
    color: white;
}

.login-form-header img {
    margin-bottom: 30px;
}

.form-input {
    font-family: "Unna", serif;
    background-color: black;
    border: 0;
    border-bottom: 1px solid #bdbdbd;
    color: lightgoldenrodyellow;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 15px;;
}

.form-input:focus {
    outline: none;
}

.selTd{
    width: 100%;
}

.sel {
    margin-bottom: 5px;
    background-color: lightgoldenrodyellow;
    width: 100%;
}

.greska{
    color:red;
}

table th{
    text-align: left;
}

table td{
    text-align: left;
}
