<div class="container-fluid pozadina">
    <mat-toolbar class="toolbar">
        <img src="assets/logo.png">
        <span class="sp">nekretnine.com</span>
    </mat-toolbar>
    
    <app-navbar></app-navbar>
  
    <div class="row">
        <div class="col-lg-7"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 prijava">
            <div class="form-container">
            <div class="form-content">
                <div class="login-form-header">
                    <div class="logo">
                        <img src="assets/logo.png" height="110" width="100">
                    </div>
                </div>
    
                <div class="form-body">
                    <table>
                        <tr>
                            <td>
                                <input type='text' placeholder="Ime" class="form-input" [(ngModel)]='ime'>
                            </td>
                            <td> <input type='text' placeholder="Prezime" class="form-input" [(ngModel)]='prezime'></td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' placeholder="Korisničko ime" class="form-input" [(ngModel)]='korIme'>
                            </td>
                            <td>
                                <input type='text' placeholder="Grad" class="form-input" [(ngModel)]='grad'>
                            </td>
                        </tr>
                        <tr>
                           
                            <td>
                                <input type='text' placeholder="Datum rođenja" class="form-input" [(ngModel)]='datumRodjenja'>
                            </td>
                            <td>
                                <input type='text' placeholder="Telefon" class="form-input" [(ngModel)]='telefon'>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password"  placeholder="Lozinka" class="form-input" [(ngModel)]='lozinka'>
                            </td>
                            <td>
                                <input type="password"  placeholder="Potvrda lozinke" class="form-input" [(ngModel)]='potvrdaLoz'>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' placeholder="E-mail" class="form-input" [(ngModel)]='email'>
                            </td>
                            <td *ngIf="agent">
                                <input type='text' placeholder="Broj licence" class="form-input" [(ngModel)]='brojLicence'>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" *ngIf="agent" class="selTd">
                                <select class="sel" [(ngModel)]='agencija'>
                                    <option *ngFor='let a of agencije' class="opt" value="{{a.naziv}}">{{a.naziv}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="file" #Image (change)="fileChangeEvent($event)" class="form-choose">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB">
                                <input type='radio' name="radio" [checked]="kupac" (change)="onChangeKupac($event)">Kupac
                                <input type='radio' name="radio" [checked]="agent" (change)="onChangeAgent($event)">Oglašivač-Agent
                                <input type='radio' name="radio" [checked]="prodavac" (change)="onChangeProdavac($event)">Oglašivač-Prodavac
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="greska">{{poruka}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><button class="btn" (click)='prijava(Image)'> 
                                Izmeni korisnika
                            </button></td>
                        </tr>
                        
                    </table>
                </div>
    
                <div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-1"></div> 
    </div>
     <app-footer></app-footer>
</div>
