<div class="container-fluid pozadina">
    <div class="ok">
    <div class="row">
        <div class="col-sm-12">
            <mat-toolbar class="toolbar">
                <img src="assets/logo.png">
                <span class="sp">nekretnine.com</span>
            </mat-toolbar>
        </div>
    </div>

    <app-navbar></app-navbar>

    <div class="row main">
        <div class="col-lg-7"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 prijava">
            <div class="form-container">
                <div class="form-content">
                    <div class="login-form-header">
                        <div class="logo">
                            <img src="assets/logo.png" height="110" width="100">
                        </div>
                    </div>
        
                    <div class="form-body">
                        <input type='password' placeholder="Trenutna lozinka" class="form-input" [(ngModel)]='stara'>
                        <input type="password"  placeholder="Nova lozinka" class="form-input" [(ngModel)]='nova'>
                        <input type="password"  placeholder="Potvrda nove lozinke" class="form-input" [(ngModel)]='potvrda'>
                        <br/>
                        <span class="greska">{{poruka}}</span>
                    </div>
        
                    <div>
                        <button class="btn" (click)='promenaLozinke()'> 
                            Promeni lozinku
                        </button>
                    </div>
                </div>
            </div>
        </div>   
        <div class="col-lg-1"></div> 
    </div>
</div>
<app-footer></app-footer>

</div>