<div class="container-fluid pozadina">
    <mat-toolbar class="toolbar">
        <img src="assets/logo.png">
        <span class="sp">nekretnine.com</span>
    </mat-toolbar>
    
    <app-navbar></app-navbar>
  
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 prijava">
            <div class="form-container">
            <div class="form-content">
                <div class="login-form-header">
                    <div class="logo">
                        <img src="assets/logo.png" height="110" width="100">
                    </div>
                </div>
    
                <div class="form-body">
                    <table>
                        <tr>
                            <td colspan="2">
                                <div class="selTd">
                                    Tip nekretnine:
                                    <select class="sel" [(ngModel)]='tip'>
                                        <option class="opt" value="stan">Stan</option>
                                        <option class="opt" value="kuca">Kuća</option>
                                        <option class="opt" value="vikendica">Vikendica</option>
                                        <option class="opt" value="lokal">Lokal</option>
                                        <option class="opt" value="magacin">Magacin</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' placeholder="Naziv" class="form-input" [(ngModel)]="naziv">
                            </td>
                            <td>
                                <input type='text' placeholder="Broj soba" class="form-input" [(ngModel)]="brSoba">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' placeholder="Grad" class="form-input" [(ngModel)]="grad">
                            </td>
                            <td>
                                <input type='text' placeholder="Opstina" class="form-input" [(ngModel)]="opstina">
                            </td>
                        </tr>
                        <tr>
                           
                            <td>
                                <input type='text' placeholder="Mikrolokacija" class="form-input" [(ngModel)]="mikrolokacija">
                            </td>
                            <td>
                                <input type='text' placeholder="Ulica" class="form-input" [(ngModel)]="ulica">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Kvadratura" class="form-input" [(ngModel)]="kvadratura">
                            </td>
                            <td>
                                <input type="text"  placeholder="Cena" class="form-input" [(ngModel)]="cena">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Godina izgradnje" class="form-input" [(ngModel)]="godIzgradnje">
                            </td>
                            <td>
                                <input type="text"  placeholder="Parking" class="form-input" [(ngModel)]="parking">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <label style="padding-right: 20px;">Stanje:</label>
                                <input type="radio" id="izvorno" name="izvorno" (change)="onChangeStanje('Izvorno', $event)">
                                <label for="izvorno" style="padding-right: 20px;">Izvorno</label>
                                <input type="radio" id="renovirano" name="izvorno" (change)="onChangeStanje('Renovirano', $event)">
                                <label for="renovirano" style="padding-right: 20px;">Renovirano</label>
                                <input type="radio" id="LUX" name="izvorno" (change)="onChangeStanje('LUX', $event)">
                                <label for="LUX" style="padding-right: 20px;">LUX</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <label style="padding-right: 15px;">Tip grejanja:</label>
                                <input type="radio" id="CG" name="CG" (change)="onChangeGrejanje('CG', $event)">
                                <label for="CG" style="padding-right: 15px;">CG</label>
                                <input type="radio" id="EG" name="CG" (change)="onChangeGrejanje('EG', $event)">
                                <label for="EG" style="padding-right: 15px;">EG</label>
                                <input type="radio" id="TA" name="CG" (change)="onChangeGrejanje('TA', $event)">
                                <label for="TA" style="padding-right: 15px;">TA</label>
                                <input type="radio" id="gas" name="CG" (change)="onChangeGrejanje('Gas', $event)">
                                <label for="gas" style="padding-right: 15px;">Gas</label>
                                <input type="radio" id="podno" name="CG" (change)="onChangeGrejanje('Podno', $event)">
                                <label for="podno" style="padding-right: 5px;">Podno</label>
                                <input type="radio" id="pumpe" name="CG" (change)="onChangeGrejanje('Toplotne pumpe', $event)">
                                <label for="pumpe" style="padding-right: 15px;">T pumpe</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Sprat" class="form-input" [(ngModel)]="sprat">
                            </td>
                            <td>
                                <input type="text"  placeholder="Ukupna spratnost" class="form-input" [(ngModel)]="ukupnaSpratnost">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Mesecne rezije" class="form-input" [(ngModel)]="mesecneRezije">
                            </td>
                            <td>
                                <input type="text"  placeholder="Opis" class="form-input" [(ngModel)]="opis">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                Linije:
                                <label *ngFor="let l of linijePrikaz">
                                    <input type="checkbox" id="{{l.naziv}}" name="{{l.naziv}}" (change)="onChangeLinije(l.naziv, $event)">
                                    <label for="{{l.naziv}}" style="padding-right: 10px;">{{l.naziv}}</label>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <input type="checkbox" id="terasa" name="terasa" (change)="onChangeKarakteristike('Terasa', $event)">
                                <label for="terasa" style="padding-right: 10px;">Terasa</label>
                                <input type="checkbox" id="podrum" name="podrum" (change)="onChangeKarakteristike('Podrum', $event)">
                                <label for="podrum" style="padding-right: 20px;">Podrum</label>
                                <input type="checkbox" id="internet" name="internet" (change)="onChangeKarakteristike('Internet', $event)">
                                <label for="internet" style="padding-right: 20px;">Internet</label>
                                <input type="checkbox" id="lodja" name="lodja" (change)="onChangeKarakteristike('Lodja', $event)">
                                <label for="lodja" style="padding-right: 20px;">Lodja</label>
                                <input type="checkbox" id="garaza" name="garaza" (change)="onChangeKarakteristike('Garaza', $event)">
                                <label for="garaza" style="padding-right: 20px;">Garaza</label>
                                <input type="checkbox" id="interfon" name="interfon" (change)="onChangeKarakteristike('Interfon', $event)">
                                <label for="interfon" style="padding-right: 20px;">Interfon</label>
                                <input type="checkbox" id="balkon" name="balkon" (change)="onChangeKarakteristike('Balkon', $event)">
                                <label for="balkon" style="padding-right: 20px;">Balkon</label>
                                <input type="checkbox" id="basta" name="basta" (change)="onChangeKarakteristike('Basta', $event)">
                                <label for="basta" style="padding-right: 20px;">Basta</label>
                                <input type="checkbox" id="telefon" name="telefon" (change)="onChangeKarakteristike('Telefon', $event)">
                                <label for="telefon" style="padding-right: 20px;">Telefon</label>
                                <input type="checkbox" id="lift" name="lift" (change)="onChangeKarakteristike('Lift', $event)">
                                <label for="lift" style="padding-right: 20px;">Lift</label>
                                <input type="checkbox" id="klima" name="klima" (change)="onChangeKarakteristike('Klima', $event)">
                                <label for="klima" style="padding-right: 20px;">Klima</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="file" multiple #Image (change)="fileChangeEvent($event)" class="form-choose">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="greska">{{greska}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" (click)='addNekretnina()'><button class="btn"> 
                                Dodaj nekretninu
                            </button></td>
                        </tr>
                        
                    </table>
                </div>
    
                <div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4 prijava">
            <div class="form-container">
            <div class="form-content">
                <div class="login-form-header">
                    <div class="logo">
                        <img src="assets/logo.png" height="110" width="100">
                    </div>
                </div>
    
                <div class="form-body" *ngIf="!dalje && !dalje1">
                    <input type="file" (change)="fileChange($event)" class="form-choose">
                    <button class="btn" (click)='daljeDugme()'> 
                        Dalje
                    </button>
                </div>
                <div class="form-body" *ngIf="dalje && !dalje1">
                    <label style="color:lightgoldenrodyellow">{{nekretninaText}}</label>
                    <span style="color:red">{{validacija}}</span>
                    <button class="btn" (click)='validirajJSON()'> 
                        Dalje
                    </button>
                </div>
                <div class="form-body" *ngIf="dalje1">
                    <input type="file" multiple #Image (change)="fileChangeSlika($event)" class="form-choose">
                    <span style="color:red">{{validacija}}</span>
                    <button class="btn" (click)='addNekretninaJSON()'> 
                        Dodaj nekretninu
                    </button>
                </div>
    
               <!-- Circles which indicates the steps of the form: -->
                <div style="text-align:center;margin-top:40px;" *ngIf="!dalje && !dalje1">
                    <span class="step1"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
                <div style="text-align:center;margin-top:40px;" *ngIf="dalje && !dalje1">
                    <span class="step"></span>
                    <span class="step1"></span>
                    <span class="step"></span>
                </div>
                <div style="text-align:center;margin-top:40px;" *ngIf="dalje1">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step1"></span>
                </div>
            </div>
        </div> 
    <div class="col-lg-1"></div>
</div>
<app-footer style="width: 100%;"></app-footer>
