<div class="container-fluid pozadina">
    <mat-toolbar class="toolbar">
        <img src="assets/logo.png">
        <span class="sp">nekretnine.com</span>
    </mat-toolbar>
    
    <app-navbar></app-navbar>
  
    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 prijava">
            <div class="form-container">
            <div class="form-content">
                <div class="login-form-header">
                    <div class="logo">
                        <img src="assets/logo.png" height="110" width="100">
                    </div>
                </div>
    
                <div class="form-body">
                    <table>
                        <tr>
                            <td>
                                <input type='text' placeholder="Cena od" class="form-input" [(ngModel)]="cenaOd">
                            </td>
                            <td> <input type='text' placeholder="Cena do" class="form-input" [(ngModel)]="cenaDo"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type='text' placeholder="Kvadratura od" class="form-input" [(ngModel)]="kvadraturaOd">
                            </td>
                            <td>
                                <input type='text' placeholder="Kvadratura do" class="form-input" [(ngModel)]="kvadraturaDo">
                            </td>
                        </tr>
                        <tr>
                           
                            <td>
                                <input type='text' placeholder="Broj soba od" class="form-input" [(ngModel)]="brSobaOd">
                            </td>
                            <td>
                                <input type='text' placeholder="Broj soba do" class="form-input" [(ngModel)]="brSobaDo">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="God izgradnje od" class="form-input" [(ngModel)]="godIzgradnjeOd">
                            </td>
                            <td>
                                <input type="text"  placeholder="God izgradnje do" class="form-input" [(ngModel)]="godIzgradnjeDo">
                            </td>
                        </tr>
                        <tr>
                            <td class="radioB">
                                <input type="checkbox" id="agencija" name="agencija" (change)="onChange('Agencija', $event)">
                                <label for="agencija">Agencija</label>
                            </td>
                            <td class="radioB">
                                <input type="checkbox" id="vlasnik" name="vlasnik" (change)="onChange('Vlasnik', $event)">
                                <label for="vlasnik">Vlasnik</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <label style="padding-right: 20px;">Stanje:</label>
                                <input type="checkbox" id="izvorno" name="izvorno" (change)="onChangeStanje('Izvorno', $event)">
                                <label for="izvorno" style="padding-right: 20px;">Izvorno</label>
                                <input type="checkbox" id="renovirano" name="renovirano" (change)="onChangeStanje('Renovirano', $event)">
                                <label for="renovirano" style="padding-right: 20px;">Renovirano</label>
                                <input type="checkbox" id="LUX" name="LUX" (change)="onChangeStanje('LUX', $event)">
                                <label for="LUX" style="padding-right: 20px;">LUX</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <label style="padding-right: 15px;">Tip grejanja:</label>
                                <input type="checkbox" id="CG" name="CG" (change)="onChangeGrejanje('CG', $event)">
                                <label for="CG" style="padding-right: 15px;">CG</label>
                                <input type="checkbox" id="EG" name="EG" (change)="onChangeGrejanje('EG', $event)">
                                <label for="EG" style="padding-right: 15px;">EG</label>
                                <input type="checkbox" id="TA" name="TA" (change)="onChangeGrejanje('TA', $event)">
                                <label for="TA" style="padding-right: 15px;">TA</label>
                                <input type="checkbox" id="gas" name="gas" (change)="onChangeGrejanje('Gas', $event)">
                                <label for="gas" style="padding-right: 15px;">Gas</label>
                                <input type="checkbox" id="podno" name="podno" (change)="onChangeGrejanje('Podno', $event)">
                                <label for="podno" style="padding-right: 5px;">Podno</label>
                                <input type="checkbox" id="pumpe" name="pumpe" (change)="onChangeGrejanje('Toplotne pumpe', $event)">
                                <label for="pumpe" style="padding-right: 15px;">T pumpe</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Sprat od" class="form-input">
                            </td>
                            <td>
                                <input type="text"  placeholder="Sprat do" class="form-input">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text"  placeholder="Mesecne rezije od" class="form-input">
                            </td>
                            <td>
                                <input type="text"  placeholder="Mesecne rezije do" class="form-input">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="radioB2">
                                <input type="checkbox" id="terasa" name="terasa" (change)="onChangeKarakteristike('Terasa', $event)">
                                <label for="terasa" style="padding-right: 10px;">Terasa</label>
                                <input type="checkbox" id="podrum" name="podrum" (change)="onChangeKarakteristike('Podrum', $event)">
                                <label for="podrum" style="padding-right: 20px;">Podrum</label>
                                <input type="checkbox" id="internet" name="internet" (change)="onChangeKarakteristike('Internet', $event)">
                                <label for="internet" style="padding-right: 20px;">Internet</label>
                                <input type="checkbox" id="lodja" name="lodja" (change)="onChangeKarakteristike('Lodja', $event)">
                                <label for="lodja" style="padding-right: 20px;">Lodja</label>
                                <input type="checkbox" id="garaza" name="garaza" (change)="onChangeKarakteristike('Garaza', $event)">
                                <label for="garaza" style="padding-right: 20px;">Garaza</label>
                                <input type="checkbox" id="interfon" name="interfon" (change)="onChangeKarakteristike('Interfon', $event)">
                                <label for="interfon" style="padding-right: 20px;">Interfon</label>
                                <input type="checkbox" id="balkon" name="balkon" (change)="onChangeKarakteristike('Balkon', $event)">
                                <label for="balkon" style="padding-right: 20px;">Balkon</label>
                                <input type="checkbox" id="basta" name="basta" (change)="onChangeKarakteristike('Basta', $event)">
                                <label for="basta" style="padding-right: 20px;">Basta</label>
                                <input type="checkbox" id="telefon" name="telefon" (change)="onChangeKarakteristike('Telefon', $event)">
                                <label for="telefon" style="padding-right: 20px;">Telefon</label>
                                <input type="checkbox" id="lift" name="lift" (change)="onChangeKarakteristike('Lift', $event)">
                                <label for="lift" style="padding-right: 20px;">Lift</label>
                                <input type="checkbox" id="klima" name="klima" (change)="onChangeKarakteristike('Klima', $event)">
                                <label for="klima" style="padding-right: 20px;">Klima</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="greska"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" (click)='naprednaPretraga()'><button class="btn"> 
                                Pretraži 
                            </button></td>
                        </tr>
                        
                    </table>
                </div>
    
                <div>
                    
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2"></div> 
    </div>
     <app-footer></app-footer>
</div>
